/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 17px;
  line-height: 25px;
  font-family: 'Raleway', sans-serif;
  min-width: 320px;
  color: #1B1B1B; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #88318E;
  text-decoration: none; }
  a:hover {
    color: #712576; }
  a:focus {
    outline: none; }

i {
  color: #88318E; }
  i:hover {
    color: #712576; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:hover {
    background: #712576;
    color: #fff; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.display-flex {
  display: flex;
  align-items: center; }

.z-index {
  position: relative;
  z-index: 5; }

.background-purple {
  background: #88318E; }

.background-grey {
  background: #F8F8F8; }

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 15px; }

.btn {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  background: #88318E;
  border: none;
  padding: 13px 43px; }

.btn-md {
  padding: 13px 57px; }

.btn-xl {
  padding: 13px 89px; }

.btn-xl-2 {
  padding: 13px 99px; }

.btn-xxl {
  padding: 13px 150px; }

.bg-white {
  background: #fff;
  color: #88318E; }

.btn-purple {
  color: #fff;
  background: #88318E; }

.mobile-menu-navigation {
  position: absolute;
  z-index: 25;
  top: 84px;
  bottom: 0;
  right: 200%;
  max-width: 865px;
  transition: all .25s ease;
  box-shadow: -24px 0px 24px -12px rgba(34, 60, 80, 0.2); }
  .mobile-menu-navigation .navigation {
    display: block;
    padding: 28px 45px 13px 60px;
    background: #88318E; }
    .mobile-menu-navigation .navigation .active {
      position: relative; }
      .mobile-menu-navigation .navigation .active a {
        font-weight: bold;
        color: #000; }
      .mobile-menu-navigation .navigation .active:after {
        content: "";
        height: 45px;
        background-color: #fff;
        width: 413px;
        position: absolute;
        top: -10px;
        left: -60px; }
    .mobile-menu-navigation .navigation li {
      position: relative;
      margin-bottom: 15px;
      text-align: right; }
      .mobile-menu-navigation .navigation li:hover:after {
        content: "";
        height: 45px;
        background-color: #fff;
        width: 413px;
        position: absolute;
        top: -10px;
        left: -60px; }
      .mobile-menu-navigation .navigation li:hover a {
        font-weight: bold;
        color: #000; }
      .mobile-menu-navigation .navigation li a {
        color: #fff; }

.show-menu {
  right: 16px; }

.btn-menu {
  position: absolute;
  top: 24px;
  right: 16px;
  height: 27px;
  width: 44px;
  cursor: pointer;
  transition: all .25s ease;
  display: none;
  z-index: 103; }
  @media only screen and (max-width: 3000px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #213041;
    border: none;
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    top: 13px; }
  .btn-menu .bottom {
    top: 26px; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg); }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    top: 16px;
    transform: translateY(-8px) translateX(0) rotate(-45deg); }

.header {
  padding: 5px 0 0; }
  .header #m1 {
    display: none; }

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.logo-search {
  display: flex;
  align-items: flex-end; }
  .logo-search .logo {
    margin-right: 88px; }

.form {
  width: 570px; }

.floating-input {
  padding: 0 5px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CACACA;
  color: #212121; }

.floating-input:focus {
  outline: none;
  border-bottom: 1px solid #CACACA; }

.floating-label {
  position: relative;
  margin-bottom: 32px;
  width: 62%; }
  .floating-label label {
    position: absolute;
    left: 10px;
    top: 1px; }

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  display: none; }

.language-social-network-menu {
  margin-right: 131px; }

.language {
  margin-top: -6px; }
  .language li {
    margin-left: 19px; }
    .language li .active {
      font-weight: bold;
      line-height: 20px;
      color: #000; }
    .language li a {
      line-height: 20px;
      color: #000; }
      .language li a:hover {
        font-weight: bold; }

.social-network {
  margin-top: -5px;
  margin-left: 67px; }
  .social-network i {
    font-size: 27px; }
  .social-network li {
    margin-left: 20px; }

.banner {
  background: url("../images/banner.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 746px;
  padding-top: 176px;
  position: relative;
  margin-top: -3px;
  position: relative; }
  .banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(100.34deg, rgba(255, 255, 255, 0.96) 5.04%, rgba(255, 255, 255, 0) 96.33%); }

.banner-text {
  max-width: 580px;
  display: table-cell;
  vertical-align: middle; }
  .banner-text .title {
    display: block;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #1B1B1B;
    margin-bottom: 22px; }
  .banner-text p {
    color: #1B1B1B;
    padding-right: 60px;
    margin-bottom: 32px; }

.wrapper-btn .btn {
  margin-right: 43px; }

.link {
  margin-bottom: 170px; }

.link-list {
  display: flex; }
  .link-list .active {
    background: #712576;
    border-bottom: solid 12px #F5C900; }
    .link-list .active img {
      margin-bottom: 16px; }
    .link-list .active p {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-weight: bold; }
  .link-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 54px 0 0;
    height: 265px;
    width: 100%; }
    .link-list li img {
      margin-bottom: 37px; }
    .link-list li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .link-list li p {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 22px;
      color: #fff; }
    .link-list li:hover {
      background: #712576;
      border-bottom: solid 12px #F5C900; }
      .link-list li:hover p {
        color: #fff; }

.wrapper-services {
  margin-bottom: 158px; }

.background-photo {
  margin-bottom: 71px; }

.title-service {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 42px;
  color: #1B1B1B;
  text-align: center; }

.list-services {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .list-services .list {
    display: flex;
    width: 50%;
    flex-grow: 1;
    padding: 0 12px;
    margin-bottom: 18px; }
    .list-services .list .services {
      background: #FFF;
      box-shadow: 0 0 15px #EBEBEB;
      padding: 28px 14px 31px 51px; }
      .list-services .list .services div {
        margin-bottom: 13px; }
        .list-services .list .services div img {
          margin-right: 23px; }
        .list-services .list .services div .title {
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          color: #1B1B1B; }
      .list-services .list .services p {
        font-size: 17px;
        line-height: 25px;
        color: #1B1B1B; }

.wrapper-request {
  margin-bottom: 157px; }

.request {
  position: relative;
  padding: 62px 0 33px; }

.wrapper-title {
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 530px; }
  .wrapper-title .title {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    margin-bottom: -1px; }
  .wrapper-title p {
    line-height: 27px;
    color: #fff; }

.form-btn {
  position: relative;
  display: flex; }

.contact-form {
  width: 100%;
  display: flex;
  margin-top: -39px; }

.form-group {
  width: 50%;
  padding-right: 81px; }
  .form-group input {
    background: transparent;
    font-size: 19px;
    line-height: 19px;
    width: 100%;
    height: 66px;
    border: none;
    border-bottom: solid 1px #EDB2F1;
    padding: 32px 10px 0 25px; }
    .form-group input:focus {
      outline: none; }
  .form-group ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 25px;
    color: #E29EE7; }

.form-btn .wrapper-btn .btn {
  margin-right: 0; }

.form-btn .wrapper-btn p {
  text-align: center;
  font-size: 13px;
  color: #fff; }

.decor {
  position: absolute; }

.decoration-xl {
  left: -8%;
  top: 5%; }

.decoration-sm-1 {
  left: 49%;
  top: 74%; }

.decoration-sm-2 {
  left: 53%;
  top: 54%;
  transform: rotate(32deg); }

.decoration-sm-3 {
  right: 35px;
  top: 1%;
  width: 80px;
  transform: rotate(6deg); }

.decoration-sm-4 {
  right: 54px;
  top: 30%;
  width: 80px;
  transform: rotate(-24deg); }

.reviews {
  margin-bottom: 237px;
  text-align: center; }
  .reviews .title {
    font-weight: bold;
    display: block;
    font-size: 40px;
    line-height: 47px;
    color: #1B1B1B;
    margin-bottom: 41px; }

.wrapper-slider {
  position: relative;
  padding: 89px 131px 76px; }
  .wrapper-slider .brackets-decor {
    position: absolute;
    top: 34%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .wrapper-slider .slide p {
    margin-bottom: 33px; }
  .wrapper-slider .slide .name {
    display: block;
    font-weight: bold;
    color: #88318E; }

.slick-arrow {
  position: absolute;
  top: 0;
  height: 17px;
  width: 50px;
  margin-top: -70px;
  left: 0;
  z-index: 5;
  border: none; }

.slick-prev,
.slick-next {
  position: absolute;
  left: auto;
  right: -39px;
  top: auto;
  bottom: 30px;
  background: transparent;
  font-size: 0;
  margin-right: 15px; }
  .slick-prev:after,
  .slick-next:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center; }

.slick-dots {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .slick-dots button {
    font-size: 0;
    border: none;
    background: #FDE4FF;
    margin-right: 15px; }

.slick-active button {
  background: #F5C900; }

.feedback-slider button {
  padding: 9px 9px;
  border-radius: 50%; }
  .feedback-slider button:hover {
    background: #F5C900; }

.wrapper-services-for-animals {
  margin-bottom: 63px; }

.services-for-animals {
  margin: 0 -6px;
  display: flex;
  flex-direction: column; }
  .services-for-animals :nth-child(2) .holder-photo-service {
    display: flex;
    justify-content: flex-end; }
  .services-for-animals :nth-child(2) .description {
    left: 0;
    padding: 68px 46px 77px 70px; }
    .services-for-animals :nth-child(2) .description .title {
      text-align: left;
      padding-left: 51px;
      margin-bottom: 28px; }
    .services-for-animals :nth-child(2) .description p {
      margin-bottom: 84px; }
    .services-for-animals :nth-child(2) .description .btn-xl {
      padding: 13px 86px; }
  .services-for-animals .block {
    position: relative;
    margin-bottom: 164px; }
  .services-for-animals .description {
    position: absolute;
    right: 0;
    top: 9%;
    max-width: 708px;
    background: #FFFFFF;
    box-shadow: 0 0 15px #ebebeb;
    padding: 68px 46px 68px 70px; }
    .services-for-animals .description .title {
      display: block;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #1B1B1B;
      margin-bottom: 30px; }
    .services-for-animals .description p {
      text-align: left;
      margin-bottom: 40px; }
    .services-for-animals .description .holder-btn {
      display: flex;
      justify-content: end; }

.team {
  margin-bottom: 184px; }
  .team .title {
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    color: #1B1B1B; }
  .team .wrapper-slider {
    padding: 49px 9px 50px 9px; }

.command-description {
  padding: 64px 2px 18px 19px; }
  .command-description .title {
    text-align: left;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 24px;
    padding-left: 50px; }
  .command-description p {
    margin-bottom: 31px; }
  .command-description .holder-btn {
    display: flex;
    justify-content: flex-end; }
    .command-description .holder-btn .btn {
      border-radius: 0;
      color: #fff;
      background: #88318E;
      padding: 13px 85px; }
      .command-description .holder-btn .btn:hover {
        background: #712576;
        color: #fff; }

.team-area {
  display: flex; }

.wrapper-price .title-price {
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 47px;
  color: #1B1B1B;
  margin-bottom: 43px; }

.price {
  margin: 0 -7px; }
  .price .prices-list {
    margin-bottom: 34px; }
    .price .prices-list .list {
      margin-bottom: 2px; }
  .price .accordion-answers {
    width: 50%;
    padding: 0 12px 0 0; }
    .price .accordion-answers h5 {
      padding: 27px 23px 22px 31px; }
  .price .holder-accordion {
    display: flex;
    justify-content: space-between; }
  .price .accordion-answers {
    width: 50% !important; }
    .price .accordion-answers .title:hover {
      background: #e5e3e3 !important; }
    .price .accordion-answers .title:after {
      content: "";
      height: 1px;
      background-color: #1B1B1B;
      width: 22px;
      position: absolute;
      top: 39px;
      right: 32px;
      transform: rotate(90deg); }
    .price .accordion-answers .title:before {
      content: "";
      height: 1px;
      background-color: #1B1B1B;
      width: 22px;
      position: absolute;
      top: 39px;
      right: 32px;
      transform: rotate(0deg); }
    .price .accordion-answers .holder-btn {
      display: flex;
      justify-content: flex-end; }
  .price .ui-accordion-content {
    height: 489px; }
  .price .ui-accordion-header-active:after {
    transform: rotate(-45deg) !important; }
  .price .ui-accordion-header-active:before {
    transform: rotate(45deg) !important; }
  .price .ui-accordion .ui-accordion-header {
    background: #EFEFEF !important;
    border: none !important;
    color: #1B1B1B !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative; }
    .price .ui-accordion .ui-accordion-header:focus {
      outline: none !important; }
  .price .ui-state-default:hover {
    border-bottom: none !important; }
  .price .prices-list > :nth-child(odd) {
    background: #FDE4FF;
    border-top: solid 1px #DCDCDC;
    border-bottom: solid 1px #DCDCDC; }
  .price .prices-list > :nth-child(even) {
    padding: 6px 20px 0 15px; }
  .price .prices-list > .list {
    padding: 6px 20px 5px 15px;
    display: flex;
    justify-content: space-between; }
    .price .prices-list > .list p {
      max-width: 520px; }
    .price .prices-list > .list strong {
      font-size: 17px;
      line-height: 40px;
      font-weight: 400;
      margin-top: -11px; }

.wrapper-price {
  margin-bottom: 153px; }

.ui-widget .ui-widget-content {
  border: none !important; }

.news {
  margin-bottom: 206px; }
  .news .title-news {
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    color: #1B1B1B;
    margin-bottom: 32px; }
  .news .news-description .title {
    display: block;
    text-align: center;
    background: #F8F8F8;
    font-weight: 700;
    padding: 19px 0; }

.news-slider button {
  padding: 9px 9px;
  border-radius: 50%; }
  .news-slider button:hover {
    background: #F5C900; }

.wrapper-competition {
  margin-bottom: 170px; }
  .wrapper-competition .title-competition {
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    margin-bottom: 30px; }
  .wrapper-competition .vote {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid 1px #C4C4C4;
    padding-bottom: 14px;
    margin-bottom: 28px; }
    .wrapper-competition .vote .title-vote {
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      margin-left: 38px; }
  .wrapper-competition .competition h4 {
    font-weight: 700;
    margin-bottom: 26px; }
  .wrapper-competition .competition p {
    margin-bottom: 95px; }
  .wrapper-competition .competition img {
    margin-bottom: 4px; }
  .wrapper-competition .competition .holder-btn {
    display: flex;
    justify-content: center; }
    .wrapper-competition .competition .holder-btn .btn-xl {
      padding: 13px 85px; }
  .wrapper-competition .competition-2 {
    margin-left: -9px; }
    .wrapper-competition .competition-2 h4 {
      margin-bottom: 40px; }
    .wrapper-competition .competition-2 p {
      margin-bottom: 56px; }
    .wrapper-competition .competition-2 img {
      margin-bottom: 4px; }
    .wrapper-competition .competition-2 .holder-btn {
      display: flex;
      justify-content: center; }
      .wrapper-competition .competition-2 .holder-btn .btn-xl {
        padding: 13px 85px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }

.footer .contact {
  padding: 32px 0 25px 14px; }

.heading-about-articles {
  margin-bottom: 175px; }
  .heading-about-articles .title-articles {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 42px; }

.article-list {
  display: flex; }
  .article-list li {
    margin-right: 12px; }
    .article-list li img {
      margin-bottom: 15px; }
    .article-list li h4 {
      margin-bottom: 10px;
      padding-left: 19px; }
    .article-list li p {
      margin-bottom: 21px; }
  .article-list .holder-link {
    display: flex;
    justify-content: flex-end;
    align-items: baseline; }
    .article-list .holder-link .btn-link {
      font-weight: bold; }
    .article-list .holder-link img {
      margin: 0 4px 0 14px; }

.contact-list li {
  margin-bottom: 19px; }

.contact-list address {
  font-style: inherit;
  max-width: 250px;
  margin-bottom: 27px; }
  .contact-list address:hover {
    color: #712576;
    cursor: pointer; }

.contact-list .telephone a {
  display: block;
  color: #000; }
  .contact-list .telephone a:hover {
    color: #712576; }

.contact-list .mail {
  position: relative;
  padding-bottom: 26px; }
  .contact-list .mail a {
    color: #000; }
    .contact-list .mail a:hover {
      color: #712576; }
  .contact-list .mail:after {
    content: "";
    height: 1px;
    background-color: #DCDCDC;
    width: 603px;
    position: absolute;
    left: 0;
    bottom: 0; }

.title-contact {
  display: block;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  margin-bottom: 32px;
  padding-left: 50px; }

.accordion-footer .ui-accordion-header {
  background: #F5C900;
  color: #fff;
  padding: 14px 20px 11px 23px;
  margin-bottom: 37px; }

.accordion-footer {
  width: 70%; }

.accordion-footer .title {
  display: block;
  position: relative; }
  .accordion-footer .title:hover {
    background: #e8bd02;
    cursor: pointer; }
  .accordion-footer .title:after {
    content: "";
    background-image: url("../images/vector.png");
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    right: -5px;
    top: 38%; }

.wrapper-contact {
  margin-bottom: -7px; }

.wrapper-social-networks {
  padding: 0 30px 20px 0; }
  .wrapper-social-networks .title {
    color: #000; }
  .wrapper-social-networks .btn-xl {
    padding: 12px 85px; }
  .wrapper-social-networks .social-network {
    margin-top: 10px;
    margin-left: 0; }
    .wrapper-social-networks .social-network li {
      margin-left: 0;
      margin-right: 30px; }
    .wrapper-social-networks .social-network i {
      font-size: 35px;
      color: #525252; }
      .wrapper-social-networks .social-network i:hover {
        color: #712576; }

.social-network-btn {
  display: flex;
  justify-content: space-between; }

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 16px; }
  .scroll img {
    height: 13px; }
  .scroll .scrollto {
    display: block;
    color: #fff;
    margin-right: 11px; }

@media (max-width: 1289px) {
  .slide .title {
    line-height: 23px; }
  .slick-dots {
    bottom: -60px; }
  .reviews .holder-btn {
    margin-top: 26px; }
  .slick-prev,
  .slick-next {
    right: -9px;
    bottom: -61px; }
  .ui-accordion-content {
    height: 490px !important; } }

@media (max-width: 1023px) {
  .about-us {
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 150px; }
    .about-us .img-about-us {
      position: inherit;
      max-width: 100%; }
    .about-us .text {
      padding: 72px 23px; }
      .about-us .text .content {
        max-width: 100%; }
        .about-us .text .content p {
          font-size: 15px; }
      .about-us .text h5 {
        font-size: 18px; }
      .about-us .text h2 {
        font-size: 38px;
        line-height: 48px; }
  .ui-accordion-content {
    height: 550px !important; }
  .feedback-slider {
    height: 360px; }
  iframe {
    height: 300px; } }

@media (max-width: 767px) {
  .navigation {
    display: none; }
  .accordion-block h5 {
    text-align: center;
    margin-bottom: 10px; }
  .accordion-answers {
    text-align: center; }
  .ui-accordion-content {
    height: 100% !important; }
  .ui-accordion .ui-accordion-header {
    padding: 20px 30px;
    margin-top: 30px; }
  .feedback-slider {
    height: 100%;
    margin-bottom: 70px; }
  .slide {
    padding: 25px 20px; }
  .slick-dots {
    bottom: -25px;
    left: 55px; }
  .slick-prev,
  .slick-next {
    right: 80px;
    bottom: -50px; } }
