.btn {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  background: #88318E;
  border: none;
  padding: 13px 43px;
}

.btn-md {
  padding: 13px 57px;
}

.btn-xl {
  padding: 13px 89px;
}

.btn-xl-2 {
  padding: 13px 99px;
}

.btn-xxl {
  padding: 13px 150px;
}

.bg-white {
  background: #fff;
  color: #88318E;
}

.btn-purple {
  color: #fff;
  background: #88318E;
}