.display-flex {
  display: flex;
  align-items: center;
}

.z-index {
  position: relative;
  z-index: 5;
}

.background-purple {
  background: #88318E;
}

.background-grey {
  background: #F8F8F8;
}

.background-gey-2 {
  display: block;
  background: #F0F0F0!important;
}
